body {
	background-color: #C9FEFF;
}

img {
	max-width: 100%;
}

#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

header {
	margin-top: 1.5em;
	text-align: center;
}

nav {
	font-family: Georgia, "Times New Roman", sans-serif;
	font-size: 1.3em;
	font-weight: normal;
	text-align: center;
	margin-top: -0.3em;
}

nav {
	padding: 0;
	margin-top: -0.3em;
	margin-bottom: 0.5em;
}

nav a {
	color: #558EFF;
	text-decoration: none;
}

h2 {
	margin-top: 4em;
	font-size: 2.5em;
}

ul li {
	list-style: none;
	font-size: 1.5em;
}

main {
	text-align: center;
	padding: 0.5em;
	text-decoration: none;
}

footer {
	margin-top: 10em;
	text-align: center;
}

p { margin-top: 8em;
	font-size: 1.5em;
}

nav a:link {
	color: #44CBEA;
}
		 
nav a:visited {
	color: #0F2072;
}
		 
nav a:hover {
	color: #D6D6D6;
	font-style: italic;
}